<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <!-- Complication data source: provides week number to watch faces -->
        <service
            android:name=".WeekComplicationService"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_foreground"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,RANGED_VALUE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="3600" />
            <meta-data
                android:name="android.support.wearable.complications.PROVIDER_CONFIG_ACTION"
                android:value="com.kristianolsson.weeknow.wear.CONFIG_COMPLICATION" />
            <meta-data
                android:name="android.support.wearable.complications.PROVIDER_ICON"
                android:resource="@drawable/ic_complication_week" />
        </service>

        <!-- Configuration activity shown when adding the complication to a watch face -->
        <activity
            android:name=".ComplicationConfigActivity"
            android:exported="true"
            android:label="@string/config_title">
            <intent-filter>
                <action android:name="com.kristianolsson.weeknow.wear.CONFIG_COMPLICATION" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.support.wearable.complications.category.PROVIDER_CONFIG" />
            </intent-filter>
        </activity>

    </application>

</manifest>
